
*{font-family: 'Source Sans Pro', sans-serif;}

html{
	background:url('../img/asd5.jpg') no-repeat ;
	background-size:1400px 750px;
	
	
}

body{
	margin: 0;
    padding: 0;
}

.map{

margin-left:40px;
float:left;
margin:20px;
}

.header{
	width:100%;
			
			position:fixed;
			top:0px ;
			left: 0px;
			height: 70px;
			
			background:#18b8f3;
			box-shadow:0 0 5px rgba(0,0,0,0.6);

			
	

}



.down h3{

text-align:center;
			font-size:30px;
			width:700px;
			margin: 50px auto;
			color:#555;
}

.down h4{

		font-size:40px;
			text-align:center;
			color:#555;
			margin:20px ;



}





.down li{
	text-align: center;
	float:left;
	padding: 40px;
}




.header a{
	color:#fff;
	text-decoration: none;
	

}


.header img{

	width:50px;
	height:50px;
	float:left;
	margin-top: 17px;
	
	margin-left: 16%;
}

.down{
	width:100%;
	left:0;
	height:270%;
	padding: 0;
	margin: 0;
}

.influencer p{

	width: 300px;
	color:#555;
	margin-left: 30px;
}

.influencer img {
	border-radius: 50%;
	float:left;
	margin-left: 30px;
}

.influencer h5{
	color:#555;
	font-weight: bold;
	}

.team li{
			display:block;
			float:left;
			color:#555;
			background-color:#e0e0e0;
			width:250px;
			padding:20px;
			text-align:center;
		}
		.team li img{
			border-radius:100px;
			float:left;
			margin-right: 30px;
		}
		.team li h5{
			font-size:17px;
			margin:5px;
			margin-bottom:5px;
		}



		.team li p{
			text-align:justify;
			margin-top: 50px;
			font-size:14px;
			}

			.adviser h3 {
				text-align:center;
			font-size:30px;
			width:700px;
			margin: 50px auto;
			color:#555;

			}

.adviser img{
	float: left;
	margin-left: 25%;
	padding-right:  60px;
	border-radius: 80%;
	width: 100px;
	height: 100px;
}
.adviser p{
	margin-left: 25%;
	margin-bottom: 50px;
}

.adviser{
	background-color:#e0e0e0;
	overflow: hidden;
	color: #555;
}		
.team{
	margin-left: 50px;
}


	


.header h1{
	padding-left:5px;
	
	margin-top: 17px;
	text-shadow:0 0 3px rgba(0,0,0,0.6);


			
			
}

.header ul li{
	
	float: left;
	
	
			padding: 20px;
			

			
			

}

.header ul{
	margin-left: 50%;
}



		#banner h2{
		
			font-size: 50px;
			color:#fff;
			text-shadow:1px 0px 2px rgba(0,0,0,0.6);
			text-align: center;
			margin-top: 25%;

		}

		


.footer{
				width:100%;
			
			
		
			height: 280px;
			
			background:#333;
			box-shadow:0 0 5px rgba(0,0,0,0.6);
			margin: auto;
			overflow: hidden;
}





.footer a {
	color:#fff;
	text-decoration: none;
}

.footer li{
	display: inline;
	padding: 15px;
}
.footer ul{
	margin-left: 50px;
}

#fb{
	margin-left: 30%;
	margin-top: 50px;
	width:40%;

	
}

#bar{
	margin-left: 23%;
	margin-top: 70px;
	font-size: 10px;	
}

#foot{

	text-align: center;
	color: #fff;
	font-size: 9px;
	margin-top: 70px;
}

#below{
			width:100%;
			background:#000;
			color:#fff;
			padding:5px 0;
			text-align:center;
			margin-top: 0px;
			margin-bottom: 0px;
		}

.team_1{
	background-color:#e0e0e0;
	overflow: hidden;
}




		



