
*{font-family: 'Source Sans Pro', sans-serif;}

html{
	background:url('../img/asd4.jpg') no-repeat ;
	background-size:1400px 750px;
	
	
}

body{
	margin: 0;
    padding: 0;
}



.header{
	width:100%;
			
			position:fixed;
			top:0px ;
			left: 0px;
			height: 70px;
			
			background:#18b8f3;
			box-shadow:0 0 5px rgba(0,0,0,0.6);

			
	

}
#login{
    width: 300px;
    min-height: 200px;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    float: right;
    margin-top: 200px;
    border: 1px solid rgba(255,255,255,0.8);
    padding: 10px;
    margin-bottom: 250px;
    margin-right: 120px;

}

#login h3 {
    text-align: center;
    color: #fff;
    margin: 10px;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.main h2 {
    text-shadow: 0 0 10px rgba(0,0,0,0.7);
    color: #fff;
    font-size: 50px;
    float: left;
    margin-top: 250px;
    margin-left: 100px;
}

.input {
    outline: none;
    padding: 5px;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.3);
    margin: 10px auto 0 auto;
    font-size: 17px;
    width: 300px;
}

#submit {
    outline: none;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid #fff;
    background: rgba(0,0,0,0.3);
    margin: 10px auto 0 auto;
    font-size: 17px;
    float: right;
    cursor: pointer;
}

.header a{
	color:#fff;
	text-decoration: none;
	

}


.header img{

	width:50px;
	height:50px;
	float:left;
	margin-top: 17px;
	
	margin-left: 16%;
}








	


.header h1{
	padding-left:5px;
	
	margin-top: 17px;
	text-shadow:0 0 3px rgba(0,0,0,0.6);


			
			
}

.header ul li{
	
	float: left;
	
	
			padding: 20px;
			

			
			

}

.header ul{
	margin-left: 50%;
}




.footer{
				width:100%;
			
			
			
			height: 280px;
			
			background:#333;
			box-shadow:0 0 5px rgba(0,0,0,0.6);
			margin: auto;
			overflow: hidden;
}





.footer a {
	color:#fff;
	text-decoration: none;
}

.footer li{
	display: inline;
	padding: 15px;
}
.footer ul{
	margin-left: 50px;
}

#fb{
	margin-left: 30%;
	margin-top: 50px;
	width:40%;

	
}

#bar{
	margin-left: 23%;
	margin-top: 70px;
	font-size: 10px;	
}

#foot{

	text-align: center;
	color: #fff;
	font-size: 9px;
	margin-top: 70px;
}

#below{
			width:100%;
			background:#000;
			color:#fff;
			padding:5px 0;
			text-align:center;
			margin-top: 0px;
			margin-bottom: 0px;
		}


		



