<!doctype html>
<html>
  <head>
      <link href="css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet" />

    <script src="js/angular/angular.min.js"></script>
    
  </head>
  <body ng-app="myApp" ng-init="myValue1=true;myValue=false">
   

    <div class="main" ng-controller="MainController">
      <div class="container">
      
        <h1 >{{ title }}</h1>
        


        <div ng-repeat="i in mydata.results" class="col-md-3"> 
  				<div class="thumbnail"> 
            <div ng-hide="selected.index===$index " ng-click="selected.index=$index">
    			     <img  class="img-circle"  ng-src="{{ i.user.picture.medium }}"> 
    				<p class="price" >{{ i.user.name.title }} {{i.user.name.first}} {{i.user.name.last}}</p>
             <p class="email"> <br/>{{i.user.email}}</p> 

				   
				   
				    
            </div>


            <div ng-show="selected.index===$index" >
            <p> {{i.user.location.city}}</p>

            <input type="button" class="btn btn-info" value="Back" ng-click="selected.index=$index+1">







  				   </div> 
				</div>
        
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <h2>Text for footer</h2>
       
      </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>
  </body>
</html>
