@import url(http://fonts.googleapis.com/css?family=Pacifico);
body{

  font-family: 'Pacifico', cursive;
  overflow: hidden;
  color: #fff;
}
.bgoverlay{
  background: rgb(103,58,183);
  background: rgba(103,58,183,0.7);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.container{
  position: relative;
  margin: 120px auto 0 auto;
  width: 320px;
}


.ico{
  display: block;
  width: 320px;
  height: 320px;
}
.open .ico{
  -webkit-animation: open 4s;
          animation: open 4s;
  -webkit-transform: scale(10);
          transform: scale(10);
}
.ico .title{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -95px;
  margin-top: -73px;
  z-index: 4;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.open .ico .title{
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  top:-100px;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after{
  position: absolute;
  top:0;
  left:0;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after{
  display: block;
  font-size: 20em;
  color: #ff4081;
  content: "\f004";
  font-family: FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ico2:before,
.ico2:after{
  color: #e91e63;
}
.ico:before{
  z-index: 3;
}
.ico:after{
  -webkit-animation: explode 4s infinite;
          animation: explode 4s infinite;
}


.ico2:before{
  -webkit-animation: explodeSmall 3s infinite;
          animation: explodeSmall 3s infinite;
}
.ico2:after{
  -webkit-animation: explodeSmall 2s infinite;
          animation: explodeSmall 2s infinite;
}


.endtext{
  opacity:0;
  position: absolute;
  top:-100px;
  width:100%;
}
.open .endtext{
  top:0;
  opacity: 1;
  -webkit-animation: show 5s;
          animation: show 5s;
}
.endtext .close{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.endtext h1,
.endtext h2,
.endtext h3{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: center;
  font-weight: normal;
}
.endtext h1{
  font-size: 50px;
}
.endtext h2{
  font-size: 30px;
}
.endtext h3{
  font-size: 20px;
}


@-webkit-keyframes explode {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      opacity: 0;
    }
}


@keyframes explode {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      opacity: 0;
    }
}
@-webkit-keyframes explodeSmall {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
}
@keyframes explodeSmall {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    to {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 0;
    }
}


@-webkit-keyframes open {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(10);
              transform: scale(10);
    }
}


@keyframes open {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    to {
      -webkit-transform: scale(10);
              transform: scale(10);
    }
}

@-webkit-keyframes show {
    from {
      opacity: 0;
      top: -100px;
    }
    to {
      opacity: 1;
      top:0;
    }
}

@keyframes show {
    from {
      opacity: 0;
      top: -100px;
    }
    to {
      opacity: 1;
      top:0;
    }
}


html,body{
  height:100%
}

.bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgb(103,58,183);
    background: rgba(103,58,183,0.7);
 }

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}
